<header
  class="sticky top-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-gray-200 text-sm py-3 sm:py-0 dark:bg-gray-900 dark:border-gray-700">
  <nav class="relative max-w-7xl w-full mx-auto px-4 flex items-center justify-between sm:px-6 lg:px-8"
    aria-label="Global">
    <a href="#" class="inline-flex items-center gap-x-4 text-xl font-semibold dark:text-white">
      <img src="./img/logo1.webp" width="48" height="48" alt="Logo" />
      <span class="hidden sm:block">Английский язык с Анастасией</span>
    </a>

    <div class="flex items-center gap-x-6">
      <a href="#about"
        class="hidden md:block font-medium text-gray-600 hover:text-gray-500 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500">Обо мне</a>
      <a href="#testimonials"
        class="font-medium text-gray-600 hover:text-gray-500 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500">Отзывы</a>
      <a href="#enroll"
        class="font-medium py-2 px-4 rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 border border-transparent">Записаться</a>
    </div>
  </nav>
</header>