<section class="pt-16" id="testimonials">
    <div class="overflow-hidden bg-slate-200">
        <div class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                " With Preline, we're able to easily track our performance in full detail. It's become
                                an essential tool for us to grow and engage with our audience. "
                            </p>
                        </div>

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
                                        src="./img/ava1.webp" alt="User Avatar #1">
                                </div>

                                <div class="grow ms-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Josh Tyson
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        Product Manager | Capsule
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                " In September, I will be using this theme for 2 years. I went through multiple updates
                                and changes and I'm very glad to see the consistency and effort made by the team. "
                            </p>
                        </div>

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
                                        src="./img/ava2.webp" alt="User Avatar #2">
                                </div>

                                <div class="grow ms-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Luisa
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        Senior Director of Operations | Fitbit
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                " Refreshing and Thought provoking design and it changes my view about how I design the
                                websites. Great typography, modern clean white design, nice tones of the color. "
                            </p>
                        </div>

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
                                        src="./img/ava3.webp" alt="User Avatar #3">
                                </div>

                                <div class="grow ms-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Alisa Williams
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        Entrepreneur | Happy customer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
