<section class="max-w-[85rem] mt-12 mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2" id="gallery1">
        <div class="space-y-2 pswp-gallery">
            <a class="block" href="./img/pic1.webp" data-pswp-width="1000" data-pswp-height="700" data-cropped="true">
                <img class="w-full h-auto object-cover aspect-[4/3]" src="./img/pic1_s.webp" loading="lazy"
                    alt="Занятия проходят онлайн в удобное для вас время">
            </a>
            <a class="block" href="./img/pic5.webp" data-pswp-width="1280" data-pswp-height="800" data-cropped="true">
                <img class="w-full h-auto object-cover aspect-video" src="./img/pic5_s.webp" loading="lazy"
                    alt="Используем аутентичные методические материалы">
            </a>
        </div>
        <div class="space-y-2">
            <a class="block" href="./img/pic2.webp" data-pswp-width="1000" data-pswp-height="1400" data-cropped="true">
                <img class="w-full h-auto object-cover aspect-[3/4]" src="./img/pic2_s.webp" loading="lazy"
                    alt="Диплом о высшем педагогическом образовании, профиль - учитель английского языка">
            </a>
        </div>
        <div class="space-y-2">
            <a class="block" href="./img/pic3.webp" data-pswp-width="1280" data-pswp-height="600" data-cropped="true">
                <img class="w-full h-auto object-cover aspect-video" src="./img/pic3_s.webp" loading="lazy"
                    alt="Онлайн класс Miro">
            </a>
            <a class="block" href="./img/pic4.webp" data-pswp-width="1280" data-pswp-height="800" data-cropped="true">
                <img class="w-full h-auto object-cover aspect-[4/3]" src="./img/pic4_s.webp" loading="lazy"
                    alt="Учебный процесс в Zoom">
            </a>
        </div>
    </div>
</section>