<section class="max-w-[85rem] mt-12 mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
        <div class="space-y-2">
            <a data-fslightbox="lightbox1" class="block" href="./img/pic1.webp">
                <img class="w-full h-auto object-cover aspect-[4/3]" src="./img/pic1_s.webp" alt="Анастасия за работой">
            </a>
            <a data-fslightbox="lightbox1" class="block" href="./img/pic5.webp">
                <img class="w-full h-auto object-cover aspect-video" src="./img/pic5_s.webp" alt="Методы обучения">
            </a>
        </div>
        <div class="space-y-2">
            <a data-fslightbox="lightbox1" class="block" href="./img/pic2.webp">
                <img class="w-full h-auto object-cover aspect-[3/4]" src="./img/pic2_s.webp"
                    alt="Диплом о высшем педагогическом образовании">
            </a>
        </div>
        <div class="space-y-2">
            <a data-fslightbox="lightbox1" class="block" href="./img/pic3.webp">
                <img data-fslightbox="lightbox1" class="w-full h-auto object-cover aspect-video" src="./img/pic3_s.webp"
                    alt="Довольные ученики">
            </a>
            <a data-fslightbox="lightbox1" class="block" href="./img/pic4.webp">
                <img data-fslightbox="lightbox1" class="w-full h-auto object-cover aspect-[4/3]" src="./img/pic4_s.webp"
                    alt="Учебный процесс онлайн">
            </a>
        </div>
    </div>
</section>