<section class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-20" id="about">
    <div class="space-y-5 md:space-y-3">
        <div class="space-y-3">
            <h2 class="text-2xl font-bold md:text-3xl dark:text-white inline-flex items-baseline gap-x-2">
                Hello everyone!
                
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="35" height="21">
                    <clipPath id="t">
                        <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
                    </clipPath>
                    <path d="M0,0v30h50v-30z" fill="#012169"/>
                    <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
                    <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                    <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
                </svg>
            </h2>
            <p class="text-lg text-gray-800 dark:text-gray-200 text-justify">
                Здравствуйте! Меня зовут <strong>Анастасия</strong> и я работаю <strong>преподавателем
                английского языка</strong> с 2017 года. У меня высшее педагогическое образование, закончила Иркутский
                государственный университет. Есть опыт работы с дошкольниками, школьниками 1−11 классов и взрослыми.
                За время работы я преподавала как в частных языковых центрах, так и в муниципальной школе.
                Регулярно прохожу курсы повышения квалификации, работаю с опытными методистами и экспертами ОГЭ и
                ЕГЭ. За время работы я учила как совсем маленьких деток 3−4 лет, готовила школьников к экзаменам,
                так и проводила уроки со взрослыми.
            </p>
            <p class="text-lg text-gray-800 dark:text-gray-200 text-justify">
                Считаю, что каждый ученик уникален и можно найти <strong>подход к каждому</strong>, приходите на мои
                уроки и погрузитесь в увлекательный мир английского языка. В своей работе я использую аутентичные
                учебники, подходящие по возрасту и уровню ученика. На данный момент провожу занятия в
                <strong>онлайн формате</strong> на платформах Zoom и Google Meet.
            </p>
        </div>
    </div>
</section>